{% extends "main.html" %}
{% block content %}


<section class="section has-text-centered" style="margin:25px; positon:center;background-color:rgb(35, 37, 56)">


  <div class="container has-text-centered py-4">
    <h2 class="title mb-6 has-text-primary">Wybierz rodzaj testu</h2>
    <div class="rows is-multiline is-centered">
      <div class="columns is-multiline is-centered">
                 <div class="column is-4 is-centered">
      <a class="box animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/words">
       <h2 class="title mb-6 has-text-primary">Zapamiętaj słowa</h2>
           <figure class="image is-3by2 is-centered">
        <img class="is-centered" style="border-radius:4px;" src="/static/photos/marketing/words.svg">
        </figure>
        </a>
      </div>

      <div class="column is-4 is-centered ">
      <a class="box has-text-centered animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/memory">
       <h2 class="title mb-6 has-text-primary ">Gra memory</h2>
       <figure class="image is-3by2 is-centered">
        <img class="is-centered" style="border-radius:4px;" src="/static/photos/marketing/memory.svg">
        </figure>
        </a>
      </div>
        <div class="column is-4 is-centered ">
      <a class="box animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/numbers">
       <h2 class="title mb-6 has-text-primary test">Zapamiętaj liczbę</h2>
           <figure class="image is-3by2 is-centered">
        <img class="is-centered " style="border-radius:4px;" src="/static/photos/marketing/number.svg">
        </figure>
        </a>
      </div>

      </div>
    </div>
</div>
</section>

{% endblock content %}
