{% extends "main.html" %}
{% block content %}

<style>
.test:hover{
   transform:translateY(-3px);
}
.test{
transition:0.5s ease !important;
}
</style>
<section class="section has-text-centered" style="margin:25px; positon:center;background-color:rgb(35, 37, 56)">


  <div class="container has-text-centered py-4">
    <h2 class="title mb-6 has-text-primary">Wybierz dzień</h2>
    <div class="rows is-multiline is-centered">
      <div class="columns is-multiline is-centered">
       {%for days in day %}
      <div class="column is-4 is-centered">
      <a class="box animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/words/{{days.id}}">
        <h4 class="title"style="color:rgb(108, 102, 251);"> Dzień  &nbsp;{{days.number}}</h4>
        </a>
      </div>
      {%endfor%}
      </div>
    </div>
</div>
</section>

{% endblock content %}
