<!DOCTYPE html>
<html style="background-color: transparent" >
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="keywords" content="Neuromedical, Alzhaimer, Tests">
      <meta name="description" content="Online testy psychologiczne">
      <title>Neuromedical | Panel Admina</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"media="screen">
      <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}"media="screen">
      <script defer src="{{url_for('static', filename='fontawesome/js/all.js')}}"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
   </head>
   <style>
      @media screen and (max-width: 1068px) {
      #menu-toggle:checked + .nav-menu {
      display: block;
      }
      }
      .table-wrapper{
      overflow-x:auto;
      }
      .table-wrapper::-webkit-scrollbar-track{
      background-color:black;
      }
      .table-wrapper::-webkit-scrollbar-thumb{
      background-color:black;
      }
      .select1{
      border-radius:10px !important;
      }
      .select1:hover{
      background-color:rgb(108, 102, 251)!important;
      }
      .is-active2{
      background-color:rgb(108, 102, 251)!important;
      }
      .dodaj:hover{
      background:none;
      }
            .navbar-link:hover{
      background-color:gray !important;
      }
      .navbar-link{
      transition:0.5s ease !important;
      }
      .navbarlinks{
      transition:0.5s ease !important;
      }
      .navbarlinks:hover {
      background-color:rgb(108, 102, 251) !important;
      color:white !important;
      }
      .navbarlinkslogout{
      transition:0.5s ease !important;
      color: red !important;
      }
      .navbarlinkslogout:hover {
      background-color:red !important;
      color:white !important;
      }
      .navbar-dropdown{
      transition:0.2s ease !important;
      }
      .simple{
        margin:10px;
        border-radius:4px;
        transition:0.2s ease !important;
        
      }
      .simple:hover{
        background:none !important;
        color:rgb(108, 102, 251) !important;
      }
   </style>
   <body style="background-color: rgb(47, 46, 75);color:white;padding:10px;">
      <nav class="navbar" role="navigation" aria-label="main navigation" style="margin:20px; border-radius:10px; background:transparent;border-radius:4px; color:white;background-color:rgb(35, 37, 56);"aria-label="menu" aria-expanded="false" data-target="menu">
         <div class="navbar-brand">
            <a class="navbar-item" href="/admin">
               <h1 class="text has-text-white"><strong>Neuromedical | Panel Admina </strong></h1>
            </a>
            <a role="button" class="navbar-burger" style="color:white; border-radius:25px;background-color:rgb(35, 37, 56)" aria-label="menu" aria-expanded="false" data-target="menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
         </div>
         <div id="menu" class="navbar-menu" style="color:white; border-radius:4px;background-color:transparent;">
            <div class="navbar-start">
               <a class="navbar-item has-text-white simple" href="/admin">
               Lista
               </a>
               <div class="navbar-item  is-hoverable">
                  <a class="navbar-link has-text-white dodaj" style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);" >
                  <i class="fas fa-tools" style="color:white;"></i>&nbsp; Narzędzia</a>
                  <div class="navbar-dropdown" style="border-radius:4px;border-top:none;background-color: rgba(255, 255, 255, .15);backdrop-filter: blur(5px);">
                     <a class="navbar-item has-text-white navbarlinks" href="/admin/test">
                     Edycja testu
                     </a>
                     <a class="navbar-item has-text-white navbarlinks" href="/admin/add">
                     Dodaj admina
                     </a>
                  </div>
               </div>
              
            </div>
             <div class="navbar-end">
          
            <div class="navbar-item">
            <div class="navbar-item  is-hoverable">
               <a class="navbar-link " style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);">
               <i class="fas fa-user" ></i> &nbsp; {{current_user.name}}</a>
               <div class="navbar-dropdown" style="border-radius:4px;border-top:none;background-color: rgba(255, 255, 255, .15);  
                  backdrop-filter: blur(5px);">
                  <a class="navbar-item navbarlinks has-text-white" style="border:none;"  href="/admin/edit">
                  🎛&nbsp; Twoje dane
                  </a>
                  <a class="navbar-item navbarlinks  has-text-white"  href="/admin/notification">
                  🚨&nbsp; Powiadomienia
                  </a>
                  <hr class="navbar-divider" style="margin:10px;">
                   <a class="navbar-item navbarlinks has-text-white " href="/documentation/overview/start/">
               Pomoc
               </a>
                  <a class="navbar-item navbarlinkslogout" style="border-radius:4px;" href="/logout">
                  Wyloguj się
                  </a>
               </div>
            </div>
         </div>
         </div>

         </div>
         </div>
      </nav>
      {% block content %}
      <section class="main-content columns is-fullheight">
      
         <div class="container column is-10">
         <div class="section">
            <div class="container">
               <h2 class="title has-text-primary">List pacjentów</h2>
               <div class="columns has-text-centered">
                  <div class="column is-3">
                     <div class="box has-background-primary">
                        <h3 class="title is-2 has-text-white">448</h3>
                        <p class="subtitle has-text-white">Liczba pacjnetów</p>
                     </div>
                  </div>
                  <div class="column is-3">
                     <div class="box has-background-success">
                        <h3 class="title is-2 has-text-white">81</h3>
                        <p class="subtitle has-text-white">Rozwiązane testy</p>
                     </div>
                  </div>
                  <div class="column is-3">
                     <div class="box has-background-danger has-text-white">
                        <h3 class="title is-2 has-text-white">208</h3>
                        <p class="subtitle has-text-white">Uwagi</p>
                     </div>
                  </div>
               </div>
             
                <div class="field">
                <form class="form has-text-white" method="post" action="" 
         >
           <div class="columns">
          <div class="column">
    <input type="text" class="input" placeholder="Szukaj pacjenta" name="search" style="border:none;outline:none;border-radius:0px; background-color:rgb(35, 37, 56); color:white;">
          </div>
             <div class="column">
            <button class="button"  type="submit"><i class="fa fa-search"></i>&nbsp; Szukaj
            </button>
              </div>
            </div>
        </form>
        </div>
               <div class="table-wrapper">
                  <table class="table is-fullwidth" style="overflow-x:scroll;background-color:rgb(35, 37, 56);color:white;border-radius:10px; padding:20px;">
                     <thead style="color:white; overflow:scroll;">
                        <tr >
                           <th scope="col"style="color:white; ">ID #</th>
                           <th scope="col"style="color:white;">Nazwa</th>
                           <th scope="col"style="color:white;">Email</th>
                           <th scope="col"style="color:white;">Rola</th>
                           <th class="has-text-centered  has-text-white" scope="col">Data dołączenia</th>
                           <th class="has-text-centered has-text-white" scope="col">Zobacz</th>
                        </tr>
                     </thead>
                     <tbody >
                        {% for user in users.items%}
                        <tr>
                           <td>{{loop.index}}</td>
                           <td>
                              <a href="/admin/user/{{user.id}}">
                                 <div class="media">
                                    <div class="media-content">{{user.name}}</div>
                                 </div>
                              </a>
                           </td>
                           <td><a class="has-text-info"href="mailto:{{user.email}}">{{user.email}}</a></td>
                           <td>{{user.role}}</td>
                           <td class="has-text-centered has-text-primary">{{user.created_at}}</td>
                           <td class="has-text-centered "><a class="has-text-warning is-hoverable" href="/admin/user/{{user.id}}">🔍</a></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <nav style="margin:25px;">
            <div class="container">
            <div class="pagination" role="navigation" aria-label="pagination">
               <div class="lol">
                  <a  href="{{ url_for('Admin.admin', page=users.prev_num) }}"
                     class="button is-danger
                     {% if users.page == 1 %}is-hidden{% endif %}">
                  &laquo;
                  </a>
                  <!-- Loop through the number of pages to display a link for each-->
                  {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if page_num %}
                  <!-- Check for the active page and set the link to "Active"-->
                  {% if users.page == page_num %}
                  <a style="background-color:rgb(108, 102, 251)"href="{{ url_for('Admin.admin', page=page_num) }}"
                     class="button has-text-white is-active">
                  {{ page_num }}
                  </a>
                  {% else %}
                  <a href="{{ url_for('Admin.admin', page=page_num) }}"
                     class="button">
                  {{ page_num }}
                  </a>
                  {% endif %}
                  {% else %}
                  ...
                  {% endif %}
                  {% endfor %}
                  <a href="{{ url_for('Admin.admin', page=users.next_num) }}"
                     class="button is-danger
                     {% if users.page == users.pages %}disabled{% endif %}">
                  &raquo;
                  </a>
               </div>
            </div>
         </nav>
      </section>
      {% endblock content %}
      <script>
         document.addEventListener('DOMContentLoaded', function () {
         
           // Get all "navbar-burger" elements
           var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
           var $navbarLinks   = Array.prototype.slice.call(document.querySelectorAll('.navbar-link'),0);
            var $navbarDrop   = Array.prototype.slice.call(document.querySelectorAll('.navbar-dropdown'),0);
           // Check if there are any nav burgers
           if ($navbarBurgers.length > 0) {
         
             // Add a click event on each of them
             $navbarBurgers.forEach(function ($el) {
               $el.addEventListener('click', function () {
         
                 // Get the target from the "data-target" attribute
                 var target = $el.dataset.target;
                 var $target = document.getElementById(target);
         
                 // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                 $el.classList.toggle('is-active');
                 $target.classList.toggle('is-active');
         
               });
             });
         
             $navbarLinks.forEach(function ($el) {
               $el.addEventListener('click', function () {
         
                 // Get the target from the "data-target" attribute
                 
                 var $target = document.getElementByID('navbar1');
         
                 // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                 $el.classList.toggle('is-active');
                 $target.classList.toggle('is-hidden-mobile');
         
               });
             });
           }
         
         });
         
         
         
         
      </script>
   </body>
</html>
