<!DOCTYPE html>
<html style="background-color: rgb(47, 46, 75);" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Neuromedical, Alzhaimer, Tests">
    <meta name="description" content="Online testy psychologiczne">
    <title>Neuromedical | Platforma do testów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}"media="screen">
    <script defer src="{{url_for('static', filename='fontawesome/js/all.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

  </head>
<style>
.navbar-link:hover{
  background-color:gray !important;
}
.navbar-link{
  transition:0.5s ease !important;
}
.navbarlinks{
  transition:0.5s ease !important;
}
.navbarlinks:hover {
  background-color:rgb(108, 102, 251) !important;
  color:white !important;
}
.navbar-dropdown{
  transition:0.2s ease !important;
}

</style>
<body id="motion" style="background-color: rgb(47, 46, 75);color:white;">
   <nav class="navbar has-text-white" role="navigation" aria-label="main navigation" style="border-radius:4px; margin:20px; background-color:transparent; color:white;">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <h1 style="font-size:25px; color:white;"><strong>Neuromedical</strong></h1>
            </a>
            <a role="button" class="navbar-burger " style="color:white; border-radius:25px;" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            
            
        <div id="menu" class="navbar-menu" style="color:white; border-radius:4px;">
            <div class="navbar-start">
                <div class="navbar-item  is-hoverable">
                    <a class="navbar-link " style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);">
                   <i class="fas fa-brain" style="color:white;"></i>&nbsp; Menu</a>
                    <div class="navbar-dropdown" style="border-radius:4px;">
                        <a class="navbar-item navbarlinks">
                          O projekcie
                        </a>
                         <a class="navbar-item navbarlinks" >
                          Zgłoś się!
                        </a>
                        <a class="navbar-item navbarlinks" >
                          Kontakt
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item navbarlinks" >
                          Zgłoś problem
                        </a>
                        <a class="navbar-item navbarlinks" >
                            Regulamin
                        </a>
                </div>    
            </div>
        </div>
        

        <div class="navbar-end">
          {% if current_user.is_authenticated %}
                 
      <div class="navbar-item">
         <div class="navbar-item  is-hoverable">
                    <a class="navbar-link " style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);">
                   <i class="fas fa-user" ></i> &nbsp; {{current_user.name}}</a>
                    <div class="navbar-dropdown" style="border-radius:4px;">
                        <a class="navbar-item navbarlinks"  href="/panel">
                          🎛&nbsp; Panel
                        </a>
                         <a class="navbar-item navbarlinks"  href="/tests">
                         📝&nbsp; Testy
                        </a>
                        <a class="navbar-item navbarlinks"  href="/notes">
                         🗓&nbsp; Dzienniczek
                        </a>
                   
                        <hr class="navbar-divider">
                        <a class="navbar-item navbarlinks" >
                          Pomoc
                        </a>
                        <a class="navbar-item has-text-danger navbarlinks" style="border-radius:4px;" href="/logout">
                            Wyloguj się
                        </a>
                </div>    
            </div>
      <div class="navbar-item">
      <div class="buttons">
      {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button has-text-white" style="border-radius:4px; border:none; background-color:rgb(108, 102, 251);" href="/register">
                  <strong>Zarejestruj się</strong>
                </a>
                <a class="button is-primary" style="border-radius:4px;" href="/login">
                  <strong> Zaloguj się</strong>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      

    </nav>
 


  
</nav>
 {% block content %}
 

 
</section>

<footer class="footer " style="background-color:rgb(35, 37, 56);"><div class="container">
  <div class="columns is-desktop">
    <div class="column is-5">
      <h2 class="title is-5 has-text-primary ">Neuromedical</h2>
      <p class="block">Everything we are doing is to help people</p>
      <div class="buttons "><a class="button is-black" href="#"><img src="static/photos/marketing/facebook-f.svg" alt=""></a></div>
    </div>
    <div class="column">
      <h3 class="title is-6 has-text-primary">Products</h3>
      <ul><li><a href="#" style="color:white;" >Features</a></li>
        <li><a href="#"style="color:white;" >Enterprise</a></li>
        <li><a href="#" style="color:white;">Support</a></li>
        <li><a href="#"style="color:white;" >ICO</a></li>
      </ul></div>
    <div class="column">
      <h6 class="title is-6 has-text-primary">About Pied Piper</h6>
      <ul><li><a href="#"style="color:white;">Our team</a></li>
        <li><a href="#" style="color:white;">Careers</a></li>
        <li><a href="#"style="color:white;" >Press</a></li>
        <li><a href="#"style="color:white;" >Stores</a></li>
      </ul></div>
    <div class="column">
      <h6 class="title is-6 has-text-primary">Contact</h6>
      <ul><li><a href="mailto:info@neuromedical.pl" class="has-text-white">info@neuromedical.pl</a></li>
        <li><a href="#"class="has-text-white" >+48 510 076 436</a></li>
        <li><a href="#" class="has-text-white">Natolin 15, 92-701 Łódź</a></li>
      </ul></div>
  </div>
  <hr><div class="columns">
  <div class="column"><a href="#" style="color:rgb(108, 102, 251);">Terms and conditions</a></div>
  <div class="column has-text-right-tablet">
    <p class="subtitle is-6">© 2021 Neuromedical. All right reserved. Created by <a href="https://yokan.studio">Yokan Software House</a></p>
  </div>
  </div>
  </div>
</footer>
   {% endblock %}

</body>

<script>
document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  var $navbarLinks   = Array.prototype.slice.call(document.querySelectorAll('.navbar-link'),0);
   var $navbarDrop   = Array.prototype.slice.call(document.querySelectorAll('.navbar-dropdown'),0);
  // Check if there are any nav burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

    $navbarLinks.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        
        var $target = document.getElementByID('navbar1');

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-hidden-mobile');

      });
    });
  }

});




</script>

</html>