{% extends "main.html" %}
{% block content %}
<nav class="navbar has-text-white" role="navigation" aria-label="main navigation" style="border-radius:4px; margin:20px; background-color:transparent; color:white;">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <h1 style="font-size:25px; color:white;"><strong>Neuromedical</strong></h1>
            </a>
            <a role="button" class="navbar-burger " style="color:white; border-radius:25px;background-color:rgb(35, 37, 56)" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            
            
        <div id="menu" class="navbar-menu" style="color:white; border-radius:4px;background-color:transparent;">
            <div class="navbar-start">
                <div class="navbar-item  is-hoverable">
                    <a class="navbar-link " style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);">
                   <i class="fas fa-brain" style="color:white;"></i>&nbsp; Menu</a>
                    <div class="navbar-dropdown" style="border-radius:4px;border-top:none;background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);">
                        <a class="navbar-item has-text-white navbarlinks">
                          O projekcie
                        </a>
                         <a class="navbar-item has-text-white navbarlinks" >
                          Zgłoś się!
                        </a>
                        <a class="navbar-item has-text-white navbarlinks" >
                          Kontakt
                        </a>
                        <hr class="navbar-divider" style="margin:10px;">
                        <a class="navbar-item has-text-white navbarlinks" >
                          Zgłoś problem
                        </a>
                        <a class="navbar-item has-text-white navbarlinks " >
                            Regulamin
                        </a>
                </div>    
            </div>
        </div>
        

        <div class="navbar-end">
          {% if current_user.is_authenticated %}
                 
      <div class="navbar-item">
         <div class="navbar-item  is-hoverable">
                    <a class="navbar-link " style="border-radius:4px; color:white;background-color:rgb(35, 37, 56);">
                   <i class="fas fa-user" ></i> &nbsp; {{current_user.name}}</a>
                    <div class="navbar-dropdown" style="border-radius:4px;border-top:none;background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);">
                        <a class="navbar-item navbarlinks has-text-white" style="border:none;"  href="/panel">
                          🎛&nbsp; Panel
                        </a>
                         <a class="navbar-item navbarlinks has-text-white"  href="/tests">
                         📝&nbsp; Testy
                        </a>
                        <a class="navbar-item navbarlinks  has-text-white"  href="/notes">
                         🗓&nbsp; Dzienniczek
                        </a>
                   
                        <hr class="navbar-divider" style="margin:10px;">
                        <a class="navbar-item navbarlinks  has-text-white" >
                          Pomoc
                        </a>
                        <a class="navbar-item navbarlinkslogout" style="border-radius:4px;" href="/logout">
                            Wyloguj się
                        </a>
                </div>    
            </div>
      <div class="navbar-item">
      <div class="buttons">
      {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button has-text-white" style="border-radius:4px; border:none; background-color:rgb(108, 102, 251);" href="/register">
                  <strong>Zarejestruj się</strong>
                </a>
                <a class="button is-primary" style="border-radius:4px;" href="/login">
                  <strong> Zaloguj się</strong>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      

    </nav>


{% endblock content %}