{% extends "main.html" %}
{% block content %}
  <div class="box" style="background:transparent;">
    <article class="message is-warning">
  <div class="message-header">
    <p>Instrukcja</p>
  
  </div>
  <div class="message-body"id="message-body">
   Test pamięci działa w następujący sposób:<br>
   Po wybraniu odpowiedniego dnia i rozpoczęciu testu, zostanie wyświetlonych 15 słów. Nalezy zapamiętać jak największą ilość. Po wyświetleniu się wszystkich słów zostaną wyświetlone proste zadania matemtyczne.<br>
   <strong>Błędnie rozwiązane zadanie nie wpływa na wynik końcowy</strong>.<br>
   Po rozwiązaniu zadań nalezy wypełnić formularz słowami, które się pamięta. Kolejność nie jest istotna.<br>
   Słowa NALEZY wpisywać po przecinku (np. ARBUZ,MARCHEWKA,ROWER), a następnie kliknąć przycisk wyślij.
  </div>
</article>
  </div>
<section class="section has-text-centered" style="margin:25px; positon:center;background-color:rgb(35, 37, 56)">


  <div class="container has-text-centered py-4">
    <h2 class="title mb-6 has-text-primary">Wybierz dzień</h2>
    <div class="rows is-multiline is-centered">
      <div class="columns is-multiline is-centered">
       {%for days in day %}
      <div class="column is-4 is-centered">
      <a class="box" style="background-color: rgb(47, 46, 75);" href="/tests/{{days.id}}">
        <h4 class="title"style="color:rgb(108, 102, 251);"> Dzień  &nbsp;{{days.number}}</h4>
        </a>
      </div>
      {%endfor%}
      </div>
    </div>
</div>
</section>

{% endblock content %}