{% extends "main.html" %}
{% block content%}
<section class="section has-text-centered" style="margin:25px; positon:center;background-color:rgb(35, 37, 56); color:black ">
<div class="columns">
     <div class="column is-hidden-mobile">
   
          <div class="box " style="background:transparent;" style="shadow:none;" >
                     <h2 class="title has-text-primary">Dodaj notatkę</h2>
                        <figure class="image is-3by2 is-centered">
                           <img class="is-centered" style="border-radius:4px;background-color:rgb(35, 37, 56);" src="/static/photos/marketing/notes.svg">
                        </figure>
                     </div>
        </div>
<div class="column">
<form method="POST" action="">
                 {{form.hidden_tag()}}
             <p class="title has-text-primary">Tytuł</p>
              {{ form.title(class="input", style="border:none; color:black;", placeholder="Tytuł")}}
           
              <p class="title has-text-primary"style="margin-top:20px;">Treść</p>
              {{ form.text(class="input", style="border:none; color:black; height:200px;", placeholder="Tekst")}}
           {{ form.submit(class="button custom-button test",style="margin-top:25px;font-weight:700",type="submit")}}
</form>
</div>

</div>

</section>



{% endblock content %}