{% extends "main.html" %}
{% block content %}

<div class="columns" style="margin:25px; ">
   <div class="column" id="message">
      <div class="box" style="background:transparent;">
         <article class="message " style="border:none;">
            <div class="message-header" style="background-color:rgb(35, 37, 56)">
               <p>Cześć {{current_user.name}}</p>
               <button class="open" aria-label="hide" onclick="openMessage()"></button>
            </div>
            <div class="message-body has-text-white"id="message-body" style="background-color:rgb(35, 37, 56)">
               Dziękujemy, ze wziąłeś udział w naszym projekcie 😀. Mamy nadzięje, ze wszystko udało się bez mniejszych problemów. Za nim zaczniesz swoją przygodę z naszym urządzeniem, poświęć chwilę na przeczytanie tej instrukcji. Aktualnie znajdujesz się w swoim panelu. Tutaj wyświetlają się wszystkie istotne informację dotyczące przebiegu Twojego leczenia. W prawym górnym rogu znajduje się rozwijane menu słuzące do nawigacji po swoim koncie. W zakładce <strong>Testy</strong> znajdziesz swoje testy. <strong>Dzienniczek i Problemy</strong> są to zakładki nieoobowiązkowe, w których mozesz dzielić się swoimi opiniami. <strong>Powiadomienia</strong> w tej zakładce znajdują się wszystkie powiadomienia od nas samych!
            </div>
         </article>
      </div>
   </div>
</div>

<div class="columns" style="margin:25px;">
   <div class="column">
 <div class="box " style="background-color:rgb(35, 37, 56)">
         <h2 class="title has-text-white has-text-centered">📝&nbsp; Statystyki</h2>
      </div>
      <div class="box" style="background-color:rgb(35, 37, 56)">
         <div class="container has-text-centered py-4">
            <div class="rows is-multiline is-centered">
               <div class="columns is-multiline is-centered">
              
                  <div class="column is-2 is-centered">
                  <p class="has-text-primary">Wynik ostatniego testu:</p>
                  <p class="has-text-white">7 / 15</p>
                  </div>
                  <div class="column is-2 is-centered">
                <p class="has-text-primary">Twój najlepszy wynik:</p>
                <p class="has-text-white">12 / 15</p>
                  </div>
                  <div class="column is-2 is-centered">
                   <p class="has-text-primary">Poprawa pamięci:</p>
                   <p style="color:green"> + 24%</p>
                  </div>
                   <div class="column is-2 is-centered">
                   <p class="has-text-primary">Ostatni dzień:</p>
                    <p class="has-text-white">Dzień 1</p>
                  </div>
                
               </div>
               <div class="buttons is-centered">
            <a class="button custom-button test "  href="/statiscis/{{current_user.id}}"><strong>Zobacz więcej</strong></a>
         </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
   <div class="columns" style="margin:25px">
   <div class="column">
      <div class="box " style="background-color:rgb(35, 37, 56)">
         <h2 class="title has-text-white has-text-centered">📝&nbsp; Testy</h2>
      </div>
      <div class="box" style="background-color:rgb(35, 37, 56)">
         <div class="container has-text-centered py-4">
            <div class="rows is-multiline is-centered">
               <div class="columns is-multiline is-centered">
                  <div class="column is-4 is-centered">
                     <a class="box animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/words">
                        <h2 class="title mb-6 has-text-primary"> Słowa</h2>
                        <figure class="image is-3by2 is-centered">
                           <img class="is-centered" style="border-radius:4px;" src="/static/photos/marketing/words.svg">
                        </figure>
                     </a>
                  </div>
                  <div class="column is-4 is-centered">
                     <a class="box animate__animated animate__fadeIn  test" style="background-color: rgb(47, 46, 75);" href="/tests/memory">
                        <h2 class="title mb-6 has-text-primary">Memory</h2>
                        <figure class="image is-3by2 is-centered">
                           <img class="is-centered" style="border-radius:4px;" src="/static/photos/marketing/memory.svg">
                        </figure>
                     </a>
                  </div>
                  <div class="column is-4 is-centered">
                     <a class="box animate__animated animate__fadeIn test" style="background-color: rgb(47, 46, 75);" href="/tests/numbers">
                        <h2 class="title mb-6 has-text-primary">Cyfry</h2>
                        <figure class="image is-3by2 is-centered">
                           <img class="is-centered" style="border-radius:4px;" src="/static/photos/marketing/number.svg">
                        </figure>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="columns" style="margin:25px;">
   <div class="column">
      <div class="box" style="background-color:rgb(35, 37, 56)">
         <h2 class="title has-text-white has-text-centered">🗓&nbsp; Dzienniczek</h2>
      </div>
      <div class="box has-text-centered" style="background-color:rgb(35, 37, 56); ">
         <p class="text has-text-primary" style="font-weight:700;">Twój ostatni wpis:</p>
         <br>
         <div class="box">
            <p class="text" style="text-align:justify;" >{{note}}</p>
            </box>
         </div>
         <br>
         <div class="buttons is-centered">
            <a class="button custom-button test {%if note == "Brak notatek"%}is-hidden {%endif%}" style="border-radius:4px;" href="/notes/{{note_id}}"><strong>Edytuj</strong></a>
            <a class="button custom-button test"  href="/notes/add"><i class="fas fa-plus" style="color:white;"></i></strong></a>
         </div>
      </div>
   </div>
   <div class="column">
      <div class="box " style="background-color:rgb(35, 37, 56)">
         <h2 class="title has-text-white has-text-centered">🧸&nbsp; Dane osobowe</h2>
      </div>
      <div class="box has-text-centered" style="background-color:rgb(35, 37, 56); ">
         <p class="text has-text-primary" style="font-weight:700;">Imię i nazwisko: 
         <p style="color:white; ">{{current_user.name}}</p>
         <p>
         <p class="text has-text-primary" style="font-weight:700;">Email: 
         <p style="color:white;">{{current_user.email}}</p>
         <p>
         <p class="text has-text-primary" style="font-weight:700;">Telefon: 
         <p style="color:white;">{{current_user.phone}}</p>
         <br>
         <div class="buttons is-centered">
            <a class="button custom-button test "  href="/edit"><strong>Edytuj</strong></a>
         </div>
      </div>
   </div>
</div>
<script>
   function killMessage() {
     document.getElementById("message").style.display = "none";
   }
   function openMessage(){
       var x = document.getElementById("message-body");
     if (x.style.display === "none") {
       x.style.display = "block";
     } else {
       x.style.display = "none";
     }
   }
</script>

{% endblock content %}